<html>
    <head>
        <title>project</title>
        <link rel="stylesheet" href="static\style.css" />
        <body>
            <h1 style="margin-top: 30px ; text-align:center;">Crop recommendation 🌱</h1>
         
             <div id="form-page">

            <form class="formitems" action="{{ url_for('predict') }}" method="post">

                <label for="">Nitrogen  :</label>
                <input type="text" name="nitrogen" placeholder="Enter quantity of N"></input>
                <br><br>

                <label for="">Phosphorus  :</label>
                <input type="text" name="phosphorous" placeholder="Enter quantity of P"></input>
                <br><br>

                <label for="">Potassium  :</label>
                <input type="text" name="potassium" placeholder="Enter quantity of K"></input>
                <br><br>

                <label for="">Temperature  :</label>
                <input type="text" name="temperature" placeholder="Enter the Temperature"></input>
                <br><br>

                <label for="">Humidity  :</label>
                <input type="text" name="humidity" placeholder="Enter Humidity level"></input>
                <br><br>
                
                <label for="">PH  :</label>
                <select name="ph" placeholder="Enter the ph of the soil"id="">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>

                </select>
                <br><br>
                
    
                <label for="">Rainfall  :</label>
                <input type="text" name="rainfall" placeholder="Enter Rainfall"></input>
                <br><br>
                <button class="btn " onclick="predict()" style="text-align:center">
                    Predict
                  </button>
            </form>
        </div>
            </div>
           


        </body>
    </head>

    </html>

