<html>
    <head>
        <title>project</title>
        <link rel="stylesheet" href="C:\Users\hp\Desktop\farmer project\static\style.css" />
        <body>
            <h1 style="margin-top: 30px ; text-align:center;">Crop recommendation 🌱</h1>
           <!--<div id="image">
            <img src="C:\Users\hp\Desktop\farmer project\static\crop.jpg" alt="snow" width="100%"height="100%">-->
             <div id="form-page">

            <form class="formitems">

                <label for="">Nitrogen  :</label>
                <input type="text" name="nitrogen" placeholder="Enter quantity of N"></input>
                <br><br>
                <label for="">Phosphorus  :</label>
                <input type="text" name="phosphorous" placeholder="Enter quantity of P"></input>
                <br><br>
                <label for="">Potassium  :</label>
                <input type="text" name="potassium" placeholder="Enter quantity of K"></input>
                <br><br>
                <label for="">Temperature  :</label>
                <input type="text" name="temperature" placeholder="Enter the Temperature"></input>
                <br><br>
                <label for="">Humidity  :</label>
                <input type="text" name="humidity" placeholder="Enter Humidity level"></input>
                <br><br>
                <label for="">PH  :</label>
                <input type="text" name="ph" placeholder="Enter the ph of the soil"></input>
                <br><br>
                
                <label for="">Temperature  :</label>
                <input type="text" name="temperature" placeholder="Enter the Temperature"></input>
                <br><br>
                <label for="">Rainfall  :</label>
                <input type="text" name="rainfall" placeholder="Enter Rainfall"></input>
                <br><br>
                <button class="btn " onclick="predict()" style="text-align:center">
                    Predict
                  </button>
            </form>
        </div>
            </div>
           


        </body>
    </head>

    </html>

